.btn {
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #00274d;
}

img {
    border: 3px solid #004080;
    border-radius: 8px;
}
.aviso-legal {
    margin-bottom: 100px;
    padding-bottom: 30px;
}
.aviso-legal {
    margin-bottom: 5rem; /* 1rem = 16px aprox */
}
